$primary-color: red;
$secondary-color: green;
$terciary-color: blue;

body {
  background-color: azure;
  font-family: sans-serif;
  font-size: 20px;
}

.container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}

.box {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

@mixin darkenHandler($numberOfChild, $boxColor) {
  @for $colNumber from 1 to $numberOfChild {
    .darken-#{$colNumber} {
      background-color: darken($color: $boxColor, $amount: $colNumber * 5%);
    }
  }
}

@mixin lightenHandler($numberOfChild, $boxColor) {
  @for $colNumber from 1 to $numberOfChild {
    .lighten-#{$colNumber} {
      background-color: lighten($color: $boxColor, $amount: $colNumber * 5%);
    }
  }
}

@mixin container-style($number, $color) {
  .container-#{$number} {
    @extend .container;
    .base-color {
      background-color: $color;
      width: 200px;
    }
    @include darkenHandler(5, $color);
    @include lightenHandler(5, $color);
  }
}

@include container-style(1, $primary-color );
@include container-style(2, $secondary-color );
@include container-style(3, $terciary-color );