body {
  background-color: azure;
  font-family: sans-serif;
  font-size: 20px;
}

.container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}

@mixin box($box-color) {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  &:nth-child(1) {
    background-color: darken($color: $box-color, $amount: 25%);
  }

  &:nth-child(2) {
    background-color: darken($color: $box-color, $amount: 20%);
  }

  &:nth-child(3) {
    background-color: darken($color: $box-color, $amount: 15%);
  }

  &:nth-child(4) {
    background-color: darken($color: $box-color, $amount: 10%);
  }
  &:nth-child(5) {
    background-color: $box-color;
    width: 200px;
  }

  &:nth-child(6) {
    background-color: lighten($color: $box-color, $amount: 10%);
  }

  &:nth-child(7) {
    background-color: lighten($color: $box-color, $amount: 15%);
  }

  &:nth-child(8) {
    background-color: lighten($color: $box-color, $amount: 20%);
  }

  &:nth-child(9) {
    background-color: lighten($color: $box-color, $amount: 25%);
  }
}

.container-1 {
  @extend .container;
  .box{
    @include box(rgb(0, 0, 255))
  }
}

.container-2 {
  @extend .container;
  .box{
    @include box(rgb(0, 255, 0))
  }
}

.container-3 {
  @extend .container;
  .box{
    @include box(rgb(255, 0, 0))
  }
}
