<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="src/main.scss">
    <title>Vite App</title>
  </head>
  <body>
    <div id="base">
      <p>Base</p>
    </div>
    <div id="important">
      <p>Important</p>
    </div>
    <div id="warning">
      <p>Warning</p>
    </div>
      <p id="principal-font">Principal Font</p>
      <p id="secondary-font">Secondary Font</p>
    <div id="boxshadow">
      <p>Box with shadow</p>
    </div>
  </body>
</html>
