<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="src/main.scss" />
    <title>Vite App</title>
  </head>
  <body>
    <div id="card">
      <img src="https://picsum.photos/300/200" alt="Desierto" />
      <div>
        <h1>Title</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
          aliquid voluptatum harum quia, veniam eveniet nulla accusantium ex
          quae perferendis quo neque odio necessitatibus debitis nemo esse
          voluptate sit officiis.
        </p>
        <p id="date">Published: <span>March 20, 2020</span></p>
        <button>More info</button>
      </div>
    </div>
  </body>
</html>
