$primary-color: rgb(161, 201, 2);
$secondary-color: rgb(74, 91, 39);
$terciary-color: rgb(254, 255, 211);
$size-sm: 4px;
$size-md: 8px;
$size-l: 16px;
$size-xl: 24px;

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  display: grid;
  grid-template-areas: "header  header" "nav  main" "footer footer";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 129px auto 60px;
  background-color: $secondary-color;
  @media screen and (max-width: 768px){
    display: flex;
    flex-direction: column;
  }
}

header {
  grid-area: header;
  .toolbar{
    padding: $size-l;
    display: flex;
    justify-content: space-between;
    background-color: rgb(252, 252, 252);
    @media screen and (max-width: 768px){
      display: none;
    }
  }
  .page-title{
    padding: $size-xl;
    background-color: $primary-color;
    color: $terciary-color;
    font-size: $size-xl;
  }
}

nav {
  grid-area: nav;
  background-color: $secondary-color;
  position:sticky;
  top: 0;
  height: fit-content;
  .menu-title{
    color: $terciary-color;
    font-weight: bold;
    text-align: center;
    padding: $size-xl;
    @media screen and (max-width: 768px){
      display: none;
    }
  }
  ul{
    all: unset;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 768px){
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  li{
    all: unset;
    padding: $size-l $size-md;
    color: $secondary-color;
    background-color: $terciary-color;
    border-bottom: 1px solid $secondary-color;
    @media screen and (max-width: 768px){
      width: 60px;
      text-align: center;
      margin: $size-md 0;
    }
  }
}

main {
  grid-area: main;
  background-color: #e2e1e1;
  min-height: 80svh;
  .list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $size-xl;
  }
  
  .card{
    background-color: white;
    width: 300px;
    height: 200px;
    margin: $size-md;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px){
      border: none;
      width: 80vh;
      flex-direction: row;
      justify-content: left;
      padding: 0 $size-l;
      gap: $size-l;
    }
    img{
      border-radius: 100px;
      margin-bottom: $size-l;
    }
  }
}

footer {
  grid-area: footer;
  padding: $size-l;
  background-color: $terciary-color;
  color: $secondary-color;
  font-weight: 300;
}
